.wrapper {
  display: flex;
  gap: 15px;
}

.input {
  width: 390px;
  height: 60px;
  border: 1px solid #1f1e25;
  border-radius: 4px;
  font-size: 24px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  outline: none;
}

.select {
  width: 120px;
  height: 60px;
  font-size: 30px;
  border: 1px solid #1f1e25;
  border-radius: 4px;
  color: #000000;
  padding-left: 15px;
  position: relative;
  outline: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/arrowhead.svg');
  background-position: 85px 24px;
}
