.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.container {
  width: 1366px;
  padding-left: 98px;
  padding-right: 98px;
}

.title {
  font-size: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 57px;
}

.inner {
  display: flex;
  gap: 245px;
  margin-bottom: 25px;
}

.text {
  font-size: 22px;
  font-weight: 500;
  width: 400px;
  margin: 0;
}

.form {
  display: flex;
  gap: 85px 120px;
  position: relative;
  flex-wrap: wrap;

  &::after {
    content: '';
    position: absolute;
    width: 55px;
    height: 55px;
    background-image: url('../../assets/img/arrows.svg');
    background-position: center;
    top: 0;
    left: 562px;
    background-repeat: no-repeat;
  }
}

.date {
  width: 390px;
  height: 60px;
  border: 1px solid #1f1e25;
  border-radius: 4px;
  outline: none;
  font-size: 24px;
  color: #000000;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: center;
  margin-right: 278px;
  padding-right: 17px;
  padding-left: 30px;
}

.button {
  width: 382px;
  height: 60px;
  background-color: #2c36f2;
  border-radius: 4px;
  color: #f6f7ff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  transition: background-color 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover {
    background-color: #000000;
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
  }
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url('../../assets/img/date.svg') no-repeat center;
  background-size: contain;
  width: 37px;
  height: 40px;
}
