.item {
  font-size: 18px;
  display: flex;
  gap: 0 40px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 222px;
    background-image: url('../../assets/img/arrow.svg');
    width: 40px;
    height: 16px;
  }
}

.text {
  margin-right: 25px;
  width: 80px;
}
