.header {
  display: flex;
  min-height: 91px;
  align-items: center;
  background-color: #f6f7ff;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-right: 98px;
  padding-left: 98px;
  width: 1366px;
  justify-content: space-between;
  gap: 46px;
}

.logo {
  padding-bottom: 10px;
}

.nav {
  width: 714px;
  margin-left: -24px;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-items: start;
}

.link {
  padding: 12.5px;
  display: block;
  transition: opacity ease-out 0.2s;

  &:hover {
    opacity: 0.5;
  }

  &Active {
    color: #2c36f2;
  }

  &Login {
    padding: 12.5px;
    padding-left: 30px;
    position: relative;
    margin-right: -12.5px;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../../assets/img/enter.svg');
      background-repeat: no-repeat;
      top: 0;
      left: 0;
      width: 20px;
      height: 22px;
      transform: translateY(50%);
    }
  }

  &Logo {
    margin-left: -12px;
  }
}
